
.icon-home:before { content: '\e800'; } /* '' */
.icon-aboveground-rail:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-t-shirt:before { content: '\e803'; } /* '' */
.icon-flight:before { content: '\e804'; } /* '' */
.icon-book-open:before { content: '\e805'; } /* '' */
.icon-hourglass:before { content: '\e806'; } /* '' */
.icon-money:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-money-1:before { content: '\e809'; } /* '' */
.icon-basket:before { content: '\e80a'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-hospital:before { content: '\e821'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */
