body
{
	background: rgb(8,6,48);
	background: linear-gradient(61deg, rgba(8,6,48,0.927608543417367) 0%, rgba(119,136,153,0.8099614845938375) 75%, rgba(238,252,255,1) 100%);
	background-image: url("img/oszczednosci.png");
	font-family: 'Montserrat', sans-serif;
	color: #FFF5EE;
	width: 100vw;
	height: 100%;
	justify-content: center;
	background-attachment: scroll;
	background-size: cover;
	overflow-x:hidden;
	overflow-y: auto;
}


h1
{
	font-size: 62px;
	font-weight: 700;	
	margin-bottom: 20px;
	text-align: center;
	letter-spacing:4px;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px #4169E1;
	
	
}
h2
{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
	text-shadow: 3px 3px 3px black;
	
}

#panel > h2
{
	font-size: 32px;
	letter-spacing:1px;
}

.container
{
	
	width: 1000px;
	margin-left: auto;
	margin-right: auto;	
	
}
#panel
{		
	height: 250px;
	width: 500px;
	margin-left: 250px;
}
.przycisk, .przycisk2, .przycisk3
{	
	
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding:10px;
	background: rgb(65,105,225);
	background: linear-gradient(16deg, rgba(65,105,225,0.700717787114846) 79%, rgba(255,255,255,1) 100%);
	margin-top: 20px;
	border: 1px solid #fff;
	border-radius: 10px;
	font-weight:700;	
}


.przycisk2
{
	padding: 5px;
	margin-top: 5px;
}


.przycisk3
{
	display: inline-block;
}

.przycisk3 > a.tilelink
{
	padding: 5px;
	text-decoration: none;
	color: #FFF5EE;	
	font-size: 18px;
	text-align: justify;
	
}

.przycisk2 > a.tilelink
{
	margin-top:5px;
	text-decoration: none;
	color: #FFF5EE;	
	font-size: 20px;
	text-align: justify;	
}
a.tilelink
{	
	text-decoration: none;
	color: #FFF5EE;	
	font-size: 30px;
	text-align: justify;
	letter-spacing: 1px;
}

#napis
{	
	color: #FFF5EE;
	text-align:center;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
.przycisk:hover, .przycisk2:hover, .przycisk3:hover
{

	background-color: #637AF3;
	cursor: pointer;
	text-shadow: 2px 2px 2px black;
}
.row
{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

input[type=text],
input[type=password],
input[type=email]
{
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
	background: rgb(255,255,255);
	background: linear-gradient(16deg, rgba(255,255,255,1) 46%, rgba(255,255,255,0.44861694677871145) 96%);
	color: black;
	font-size: 16px;
	text-align:center;
}
input[type=radio]
{
	margin: 7px;
}
input[type=date]
{
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
	background: rgb(255,255,255);
	background: linear-gradient(16deg, rgba(255,255,255,1) 46%, rgba(255,255,255,0.44861694677871145) 96%);
	text-align:center;
}
#kategoria
{
	font-size: 16px;
	border-radius: 10px;
	background: rgb(255,255,255);
	background: linear-gradient(16deg, rgba(255,255,255,1) 46%, rgba(255,255,255,0.44861694677871145) 96%);
	text-align:center;
}
option:hover,
option:focus,
option:active,
option:checked
{
	background-color: #d3d3d3;
}

#komentarz
{
	padding: 5px;
	font-size: 16px;
	border-radius: 10px;
	background: rgb(255,255,255);
	background: linear-gradient(16deg, rgba(255,255,255,1) 46%, rgba(255,255,255,0.44861694677871145) 96%);
	resize: none;
}

.footer
{
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	padding: 20px;
	
	
}


.topnav
{
	
	width: 100vw;
	background: rgb(65,105,225);
	background: linear-gradient(61deg, rgba(65,105,225,0.8108018207282913) 60%, rgba(255,255,255,1) 100%);
	text-align: center;
	padding: 15px;
	top: 0;
	left: 0;
	
}
.topnav a
{
	text-decoration: none;
	font-size: 18px;
	color: #FFF5EE;	
	padding: 1rem .5rem;
	position: relative;
}


.dropdown
{
	position: relative;
	display: inline-block; 
	
}
.dropdown ul
{
	width: 200px;
	text-align: center;
	position: absolute;
	padding: 0;
	background: rgba(65,105,225,0.9108018207282913);
	display: none;	
	list-style-type: none;
	position: on top;

	
}
.dropdown ul  li
{
	padding: 8px;
}
.dropdown ul  li a
{
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.dropdown ul li:hover, .topnav a:hover 
{
	background-color: #637AF3;
	text-shadow: 3px 3px 3px black;
}

.dropdown a:focus + ul,
.dropdown a:hover + ul,
.dropdown ul:hover
{
	display: block;
}

.cytat
{
	text-align: center;
	background: rgb(136,153,170);
	background: linear-gradient(16deg, rgba(136,153,170,0.7018382352941176) 100%, rgba(255,255,255,1) 100%);
	padding: 10px;
	margin-bottom: 20px;
}
.cytat i
{
	text-shadow:1px 1px 1px black;
}
h3, h4
{
	color: #FFF5EE;
	text-shadow: 3px 3px 3px black;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

h4
{

	letter-spacing: 3px;
	font-size: 36px;
	text-align:center;
	text-transform: uppercase;
}

h5
{
	letter-spacing: 2px;
	font-size: 32px;
	text-align:center;
	text-shadow: 3px 3px 3px black;
	margin-bottom:10px;
	margin-top: 10px;
	
}

.square
{
	width: 600px;
	margin: 10px 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FFF5EE;	
}

legend
{
	text-shadow: 3px 3px 3px #4169E1;
	text-transform: uppercase;
	font-size: 23px;
	letter-spacing: 2px;
}

fieldset
{
	background: rgb(136,153,170);
	background: linear-gradient(16deg, rgba(136,153,170,0.5018382352941176) 100%, rgba(255,255,255,1) 100%);
	
}
#datechoose
{	
	display: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



.left
{	
	margin-left:10px;
	width:430px;
	padding-left:10px;
	padding-right:10px;
		
}

.kategorie
{
	width: 230px;
	display: inline-block;
	
}

.kwoty
{
	width: 190px;
	display: inline-block;
}
.kwoty .kat
{
	text-align:center;
}

.kat, .suma
{	
	margin: 0 0 2px 2px;
	text-align: center;
	color: #FFF5EE;
	padding: 5px;
	background: rgb(136,153,170);
	background: linear-gradient(16deg, rgba(136,153,170,0.5018382352941176) 100%, rgba(255,255,255,1) 100%);
	backdrop-filter: blur(8px);
	font-weight: 500;
	text-shadow: 2px 2px 2px black;
}
.kat
{
	text-align:left;
	margin: 0 0 2px 2px;
	
}

p
{
	padding:0;
	margin:0;
}

.suma
{
	text-transform: uppercase;
	font-weight: 700;
	color: #7FFF00;
	padding: 5px;
}

.kategorie div
{
	font-size: 18px;
}

.kwoty div
{
	font-size: 18px;
}

.bilans
{	
	width: 150px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	padding: 10px;
	background: rgb(136,153,170);
	background: linear-gradient(16deg, rgba(136,153,170,0.5018382352941176) 100%, rgba(255,255,255,1) 100%);
	backdrop-filter: blur(8px);
	text-transform: uppercase;
	font-size:18px;
}

#piechart
{
	position: absolute;
	right: 320px;
	top: 450px;
	width: 700px;
	height: 400px;
	backgroundColor.fill:transparent;
}